<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HotelBasicHttpEndpoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://apis.dev-rovia.com/Engines/v2.0/HotelEngine/HotelEngine.Svc"
                binding="basicHttpBinding" bindingConfiguration="HotelBasicHttpEndpoint"
                contract="HotelEngine" name="HotelBasicHttpEndpoint" />
        </client>
    </system.serviceModel>
</configuration>