*{
    padding: 0;
    margin: 0;
}

#logo img
{
    margin-left: 24px;
    margin-top: 13px;
    height: 91px;
    margin-bottom: 13px;

}
#Location
{
    width: 68.6%;
    margin-bottom: 45px;
    margin-left: 25px;
}
.travel-date
{
    margin-bottom: 35px;
    margin-right: 32px;
    color:black;
}
body
{
    background-color: #080808;
    overflow-x: hidden;
    font-family: 'open Sans',sans-serif;
    text-rendering: optimizeLegibility  !important;
    -webkit-font-smoothing:antialiased !important;
}
label
{
	color: white;
}
#mynavbar
{
    margin-bottom: 30%;
}
li
{
    list-style:none;
    display: inline-block
}
input:hover{
    background: #cce6ff;
}
.center-block
{
    display:flex;
    align-items: center !important;
    justify-content: center !important;
}

#site-name
{   
      font: 400 45px/01.7 'Courgette', Helvetica, sans-serif;
      margin: 5 33px 10px;
      align-items: flex-end;
      font-size: 23px;
      color: #94a4d1;
      font-weight: bold;
      margin-left: 23px;
}
a
{
    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active{
    text text-decoration: none;
}
h1,h2,h4
{
    font-family: 'PT Sans Narrow',Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
p{
   
    font-size: 20px;
    line-height: 21px;
    margin-left: 20px;
    color: white;
}
.btn
{
    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}
.btn:hover{
    background-color: #ededed !important;
    color:#3c3c3c !important;
    border: 1px solid #fff !important;
}
.btn btn-default
{
    height: 35px;
    width: 15px;
}
#rooms-info
{
        margin-left: 45px;
}

.navbar
{
    background-color: #222222 !important;
    text-transform: uppercase;
    font-family:  'PT Sans Narrow',Arial,sans-serif;
    font-weight: 700;
}

.row
{
    margin-top: 30px;
    margin-left: 10px;
}
.navbar a
{
    color:#fff !important;
    opacity:0.7;
    
}
.navbar a:hover{
    opacity: 1;
    background-color: #111111 !important; 
}
/*header*/

.header
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width:100%;
    padding:30px 0 30px;
    margin-top: 50px;
    background-image: url(../img/Atmosphere-Resorts-Spa-Luxury-Resort.jpg);
    background-size: cover;
    height: -webkit-fill-available;
    background-repeat: no-repeat;
    color: #fff;

}
#indate, #outdate
{
    color: black;
}

.container
{
    background-attachment: scroll;
    background: rgba(0,0,0,0.6);
    background-size: 80px 60px;
    width: 79%;
    margin-top: inherit;
    padding-left: 0;
    
}


.header img
{
    height: 350px;
    width: 450px;
    margin: 70px 0 0 40px;
        
}
.header h1
{
    font-size: 40px;
    font-weight: 700;
    padding-top:30px;
}
.header h1,
.header p,

{
    margin-top: 5px;
    margin-bottom: 20px;
}
.header button
{
    margin-top: 56px;
    margin-left: 5px;
    margin-bottom: 35px;
}

@media(max-width:768px)
{
    .header
    {
        padding: 30px;
        height: 750px;
    }
    
    .header img
    {
        width: 90%;
        height: 300px;
        margin: 20px 0 0 20px;
    }
    .header,btn
    {
        font-size: 10px;
        margin-left: 20px;
        
    }
    header h1
    {
        font-size: 20px;
    }
    .header p{
        font-size:10px; 
    }
    #rooms-info{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
   
    
#loader-div{
    align-content: center;
}
    
    
}
.form-inline
{
    color: black;
    margin-left: 13px;
}
 select {
    text-transform: none;
    color: black;
        height: 32px;

}
.text-info {
    color:black;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  align-content: center;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
 #room-info-flex{
        display: flex;
        justify-content: space-around;
        flex-direction:row;
    }
#room-input-box{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.glyphicon {

    margin-right: 7px;
    color: skyblue;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.col-lg-6-col-md-6
{
    margin-left: 19px;
}
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    margin-left: 20px;
    color: skyblue;
}
.inner-addon {
    position: relative;
}
.left-addon .glyphicon {
    margin-top: 25px;
    left: 0px;
}
.left-addon input {
    padding-left: 30px;
}

.ui-datepicker-month, .ui-datepicker-year{
    color: black;
}
