*{
    padding: 0;
    margin: 0;
}

#logo img
{
    margin-top: 13px;
    height: 50px;
    margin-bottom: 13px;

}
#Location
{
    width: 68.6%;
    margin-bottom: 45px;
    margin-left: 25px;
}
.travel-date
{
    margin-bottom: 35px;
    margin-right: 30px;
}
body
{
        background-color: #080808;
    overflow-x: hidden;
    font-family: 'open Sans',sans-serif;
     text-rendering: optimizeLegibility  !important;
    -webkit-font-smoothing:antialiased !important;
}
#mynavbar
{
    margin-bottom: 30%;
}
li
{
    list-style:none;
    display: inline-block
}
input:hover{
    background: #cce6ff;
}
.center-block
{
    display:flex;
    align-items: center !important;
    justify-content: center !important;
}
a
{
    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active{
    text text-decoration: none;
}
h1,h2,h4
{
    font-family: 'PT Sans Narrow',Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
p{
    font-size: 15px;
    line-height: 21px;
}
.btn
{
    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}
.btn:hover{
    background-color: #ededed !important;
    color:#3c3c3c !important;
    border: 1px solid #fff !important;
}
#rooms-info
{
        margin-left: 45px;
}

.navbar
{
    background-color: #222222 !important;
    text-transform: uppercase;
    font-family:  'PT Sans Narrow',Arial,sans-serif;
    font-weight: 700;
    

}
.row
{
    margin-top: 30px;
    margin-left: 10px;
}
.navbar a
{
    color:#fff !important;
    opacity:0.7;
    
}
.navbar a:hover{
    opacity: 1;
    background-color: #111111 !important; 
}
/*header*/

.header
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
    width:100%;
    padding:30px 0 30px;
    margin-top: 50px;
    background-image: url(../img/Hotelbackground.jpg);
    background-size: cover;
    height: 688px;
   
<<<<<<< HEAD
    background-repeat: no-repeat;
=======
    background-repeat: no repeat;
>>>>>>> Updated Layout with Trip Engine parsing
    
    color: #fff;
}
#indate, #outdate
{
    color: black;
}
.container
{
    background-attachment: scroll;
    background: rgba(0,0,0,0.6);
    background-size: 80px 60px;
    width: 79%;
    margin-right: 93px;
    margin-top: inherit;
    padding-left: 0;
    margin-left: 73px;
}


.header img
{
    height: 350px;
    width: 450px;
    margin: 70px 0 0 40px;
        
}
.header h1
{
    font-size: 40px;
    font-weight: 700;
    padding-top:30px;
}
.header h1,
.header p,

{
    margin-top: 5px;
    margin-bottom: 20px;
}
.header button
{
    margin-top: 56px;
    margin-left: 5px;
    margin-bottom: 35px;
}

@media(max-width:768px)
{
    .header
    {
        padding: 30px;
        height: 750px;
    }
    
    .header img
    {
        width: 90%;
        height: 300px;
        margin: 20px 0 0 20px;
    }
    .header,btn
    {
        font-size: 10px;
        margin-left: 20px;
        
    }
    header h1
    {
        font-size: 20px;
    }
    .header p{
        font-size:10px; 
    }
    #rooms-info{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    #rooms-info-flex{
        display: inline-flex;
        justify-content: flex-start;
        flex-direction: row;
    }

    

    
    
}
.form-inline
{
    margin-left: 13px;
}
button, select {
    text-transform: none;
    color: black;
        height: 32px;

}
.text-info {
    color:white;
}
