body{
	background-color: beige;
}
#trip-info{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	background-color: white;
}
#guest-details{
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	width: 60%;
	justify-content: space-between;
}
#payment-details{
	border: 1px solid black;
	width: auto;
	background-color: white;
	display: flex;
	margin-top: 10px;
	flex-direction: column;
	justify-content: space-between;
}
#header
{
	margin: 0px;
	flex-grow: 1;
	background-color: yellow;
	height: 10px;
}
#guest-name{
	width: 500px;
}
#logo img
{
	margin-left: 55px;
	margin-top: 30px;
	width:200px;
	margin-bottom: 15px;

}
#logo
{

	border-bottom: 1px solid black;
}
#wrapper
{

	margin-left: 55px;
}
#wrapper h1
{
	
	color: #000066;
	margin-bottom: 5px;
}

#wrapper h3
{
	
	color: green;
	margin-bottom: 5px;
}

#wrapper h4
{
	display: flex;
	color:#1a8cff;
}
#wrapper p
{
	font-weight: bold;
	font-size: 22px;
}
#parent-container
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.container
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 2px;
	width: 10%;
	flex-grow: 1;
	
}

.container label
{
	font-size: 18px;
}

.container input 
{
	height: 40px;
	width: 90%;
	box-shadow: 5px 5px 5px #888888;
	font-size: 15px;
}

#mobile 
{
	margin-bottom: 100px;
	width: 300px;
}

#card-number
{
	margin-bottom: 120px;
}

button
{
	margin-top: 55px;
	height: 50px;
	width: 270px;
	background-color: yellow;
	border: .5px solid black;
	box-shadow: 5px 5px 5px #888888;
	margin-bottom: 50px;
	font-size: 15px;
	font-weight: bold;
}

#expiration
{

	margin-top: 5px;
	height: 40px;
	box-shadow: 5px 5px 5px #888888;
	font-size: 15px;
	width: 150px;
	margin-bottom: 5px;
}
#booking-details
{
	width:40%;
	height: fit-content;
	border: 2px solid black;
	flex-grow: 1;
	margin-right: 55px;
	border-spacing: 10px;
	flex-wrap: wrap;
	color:white;
	background-color: blue;
}