#logo img
{
  margin-left: 55px;
  margin-top: 13px;
    height: 98px;
    margin-bottom: 4px;

}
#logo
{

  border-bottom: 1px solid black;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: teal;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

#hotelList-container
{
  display: flex-inline;
  flex-direction: column;
  margin-top: 48px;
  
 
  background-repeat: no-repeat;
   background-size: cover;

}
h2

{
  color: white;
  margin-top: 29px;
    margin-left:18px; 
    margin-right: 5px;
   
}
#hotel-detail-container
{
      margin-left: inherit;
}
#data-container
{
  margin-left: 2px;
    width: 178px;
    margin-top: -22px;
}
.layout
{
  display: flex;
  font-size: 16px;
  border:solid 1px gray;
  margin-bottom: 92px; 
  margin-top: 25px;
  background-color: #05675e;

  border-radius: 1.5em;
  box-shadow: 10px 10px 5px #888888;
  margin-right: 53px;
  margin-left: 72px;
  height: auto;
  margin-bottom: 65px;
  flex-flow: wrap;
  flex-shrink: 1;
  min-width: 361px;
  justify-content: space-evenly;
}

#header-container
{
  display: inline-flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    height: 192px;
    background:#160a03;
        
}

p
{
    margin: 0px;
    margin-right: 20px;
    align-items: flex-end;
    font-size: 31px;
    color: #94a4d1;
    font-weight: bold;
    margin-left: 23px;
}

#hotel-name
{    color: #e1ff00;
    font-size: 32px;
    flex-shrink: 1;
    flex-wrap: wrap;
    margin-left: 0px;
    width: 205px;
}

#hotel-address
{
  font-size: 20px;
  flex-shrink: 1;
margin-top: 31px;
}

#hotel-image
{
   
       border: 2px solid black;
    width: 228px;
    height: 217px;
    flex-shrink: 1;
    margin-top: 43px;
    margin-left: 0px;

}
.room-button
{
    flex-shrink: 3;
    height: 47px;
    margin-top: 103px;
    font-weight: bold;
    width: 119px;
    background-color: black;
    color: white;
    flex-flow: row;
}
#room-click
{
  margin-left: inherit;
    margin-top: -95px;
}
#welcome-page
{
margin-top: 50px;
}

