  #logo img
  {
      margin-left: 32px;
      margin-top: 13px;
      height: 98px;
      margin-bottom: 4px;

  }
  #logo
  {
      border-bottom: 1px solid black;
  }
  .topnav 
  {
      overflow: hidden;
      background-color: #333;
  }

  .topnav a
  {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }

  .topnav a:hover
  {
      background-color: teal;
      color: black;
  }

  .topnav .icon 
  {
      display: none;
  }

  @media screen and (max-width: 600px) 
  {
    .topnav a:not(:first-child) 
    {
      display: none;
    }
    .topnav a.icon 
    {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) 
  {
    .topnav.responsive 
      { 
        position: relative;
      }
    .topnav.responsive .icon 
      {
        position: absolute;
        right: 0;
        top: 0;
      }
    .topnav.responsive a 
      {
        float: none;
        display: block;
        text-align: left;
      }
  }

  #search-result
  {
    margin-top: 3%;
    color:white;
    background-color: black;
    text-align: center;
    
    text-decoration-color: teal;
    font-size: 255%;
  }
  #hotelList-container
  {
    flex: 6;
    margin-right: 10%;
    
    display: inline-flex;
    flex-direction: column;
    margin-top: 48px;
      
  }
  

  h2
  {
      color: black;
      margin-top: 29px;
      margin-left:0px; 
      margin-right: 5px;
  }

   #data-container
  {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-wrap: wrap;
    margin-left: 14%;
    font: italic bold 12px/30px Georgia, serif;
    width: 104%;   

  }
  .layout
{
    width: auto;
    display: inline-flex;
    font-size: 16px;
    border: solid 2px black;
    margin-left: 13%;
    margin-top: 4.5%;
   box-shadow: 0px 8px 10px teal, 
        -10px 8px 15px teal, 10px 8px 15px teal;
    /* margin-bottom: 43px; */
    flex-flow: wrap;
    flex-shrink: 1;
    justify-content: space-evenly;
}   

  #header-container
  {
      padding: 22px 15px;
      display: inline-flex;
      flex-flow: row;
      justify-content: space-between;
      width: 100%;
      height: 192px;
      background:#160a03;          
  }

  p
{
    font: 400 45px/01.7 'Courgette', Helvetica, sans-serif;
    align-items: flex-end;
    font-size: 31px;
    color: #94a4d1;
    font-weight: bold;
    margin-left: 23px;

}
#welcome-page
{
    margin-top: 50px;
}

#filter-container h2
{
   align-items: center;
    background: #089090;
    margin-right: 0px;
    padding-left: 34%;
    flex-shrink: 3;
    flex-wrap: wrap;
    color: aliceblue;
}

  #hotel-name
  { 
    display: flex;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: black;
    color: #0f0596;
    font-size: 25px;
    flex-shrink: 1;
    flex-wrap: wrap;

   
  }
  #hotel-price
  {
      font-size: 15px;
      color: black;
  }

  #hotel-address
  {
      font-size: 15px;
      flex-shrink: 1;
      margin-top: 31px;
      width: 316px;
      color: black;
  }

  #rating
  {
      color: white;
      font-size: 13px;
  }
  #hotel-image
  {     
      border: 2px solid black;
    width: 150px;
    height: 150px;
    flex-shrink: 1;
    margin-top: 4%;
    margin-left: 1%;
    margin-bottom: inherit;

  }
  .room-button
{
    display: inline;
    flex-shrink: 3;
    height: auto;
    margin-top: 5%;
    font-weight: bold;
    background-color: #272020;
    color: white;
    flex-flow: row;
    margin-bottom: 10px;
    margin-left: -3%;
    width: 100%;

}       
  #welcome-page
  {
      margin-top: 50px;
  }

  

#main-container
{
    display: inline-flex;
    flex-direction: row;
    flex-shrink: 1;
    flex-wrap: wrap;
    width: 92%;
}
#filter-container
{
  flex: 2;
  width: 26%; 
  display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 40px;
    height: 43%;
    border: 3px solid black;
    box-shadow: 10px 10px 5px teal;
}
input[type=radio] {
    border: 2px;
    width: 30px;
    height: 30px;
}
#filter-container h3
{
  background-color: white;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;

}
.rating-container , .pricing-container
{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-weight: bold;
  margin-right: 10%;
  margin-left: 5%;
  font-size:125%;
  color: black;
  
}
.rating-container p
{
  display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    margin: initial;
    font-size: x-large;
}
#rating
{
  color:black;
}
#remove-filters
{

  flex-shrink: 3;
  margin-top: 7%;
  padding-left: 32%;
  font-size: 15px;

}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(img/Facebook.gif) center no-repeat #fff;
}
#hotel-address span
{
  color: #1a8cff;
}
.glyphicon
{
  color:#ff471a;
}
#hotel-price span
{
  color:  #1a8cff;
}
#icon
{
  color: #1a8cff;
  font-size: 15px;
}
#hotelDescription{
    font-size: 15px;

    
    flex-wrap: wrap;
    flex-shrink: 1;
}