footer
{
    padding-top:20px;
}
#bookroom
{
    padding-bottom: 1000px;
 text-align: center;
}
p {
    text-align: center;
     font-style: italic
    font-family: "Times New Roman", Times, redserif;

}